* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.err{
  color: red;
}

.t-center {
  text-align: center;
  margin: 10px 0;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.app {
  padding: 50px;
}

.signup-page form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
  gap: 20px;
}

.signup-page form .form-field{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.signup-page form input {
  padding: 5px;
}

.bottom-btn {
  display: grid;
  place-content: center;
}

.header .navmenu {
  display: flex;
  gap: 10px;
}